<a href="/">
    <div id="logo">
        <div class="logo_name"><span class="logo_mobile">FV</span><span class="logo_full">FoodVerse</span></div>
        <div class="logo_name"><span class="logo_mobile">FV</span><span class="logo_full">FoodVerse</span></div>
        <div class="logo_name"><span class="logo_mobile">FV</span><span class="logo_full">FoodVerse</span></div>
    </div>
</a>