<header>
    <a href="/">
        <div id="logo">
            <div class="logo_name"><span class="logo_mobile">FV</span><span class="logo_full">FoodVerse</span></div>
            <div class="logo_name"><span class="logo_mobile">FV</span><span class="logo_full">FoodVerse</span></div>
            <div class="logo_name"><span class="logo_mobile">FV</span><span class="logo_full">FoodVerse</span></div>
        </div>
    </a>

    <nav id="navBar">
        <i class="fas fa-search"></i>
        <div id="searchBar">
            <form action="/food/results" method="POST">
                <input type="text" placeholder="Enter Address..." name="cityBox">
                <button type="submit">&gt;</button>
            </form>
        </div>

        <i class="fas fa-users" id="socialBtn"></i>
        <!-- <a href="/suggested"><i class="fas fa-users"></i></a> -->

    </nav>
</header>