<div id="searchBar">
    <form action="/food/results" method="POST">
        <input type="text" placeholder="Enter Address..." name="cityBox">
        <button type="submit">&gt;</button>
    </form>
</div>