<div id="searchBar">
    <!-- <i class="fas fa-search"></i> -->
    <form action="/food/results" method="POST">
        <input type="text" placeholder="Enter Address..." name="cityBox">
        <button type="submit">&gt;</button>
    </form>
</div>
<!-- <i class="fas fa-filter"></i>
<i class="fas fa-users"></i> -->