<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodVerse | Support Local</title>
</head>
<body>
    <header>
        <div id="logo"><h1>FoodVerse</h1></div>
        <!-- <button>Login</button> -->
    </header>
    
    <main id="hero">
        <p>Eat Local</p>
        <input type="text" placeholder="Enter City">
    </main>

    <section>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam tortor eget lectus sollicitudin, at laoreet arcu malesuada. Integer lorem libero, lacinia ut orci ac, feugiat porta nisi. Vestibulum scelerisque, urna eu sagittis hendrerit, ante sem bibendum tellus, vitae commodo eros est eu nunc. Phasellus id dictum orci. Phasellus est lacus, tincidunt sit amet ligula vitae, dictum venenatis enim. Duis rhoncus blandit ultricies. Donec non viverra diam, vel luctus nisl. Duis id aliquam orci. Duis tempus ex luctus nunc lobortis, nec porta orci varius.</p>
            <img src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=webp&v=1530129081" alt="">
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=webp&v=1530129081" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam tortor eget lectus sollicitudin, at laoreet arcu malesuada. Integer lorem libero, lacinia ut orci ac, feugiat porta nisi. Vestibulum scelerisque, urna eu sagittis hendrerit, ante sem bibendum tellus, vitae commodo eros est eu nunc. Phasellus id dictum orci. Phasellus est lacus, tincidunt sit amet ligula vitae, dictum venenatis enim. Duis rhoncus blandit ultricies. Donec non viverra diam, vel luctus nisl. Duis id aliquam orci. Duis tempus ex luctus nunc lobortis, nec porta orci varius.</p>
        </div>
    </section>
    
</body>
</html>