<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%=title%>
    <a href="/food">Click here to go to food</a>
    <form action="/food/getCity" method="POST">
        <label for="cityBox">Enter Your City:</label><br>
        <input type="text" id="cityBox" name="cityBox"><br>
        <input type="submit" value="Send City">
    </form>
</body>
</html>