<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main id="suggestions">
    <h3>Let's Eat At...</h3>
    <% for(let i=0; i < suggested.length; i++){  %>
        <p><%= suggested[i].restaurant.name %></p>
    <% }%>

</main>


<%- include('../partials/footer') %>