body {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
}
a {
    text-decoration: none;
    color: #F25757;
}
a:hover {
    color: #FF9000;
}
a:active {
    color: #FCE762;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: white;
    position: fixed;
    top: 0;
    border-bottom: 1px solid lightgray;
    z-index: 2;
}
header i {
    font-size: 1.5em;
    color: #4c4c4c;
}
#logo {
    position: relative;
    height: 3rem;
    display: inline-block;
    top: 5px;
}
.logo_mobile {
    display: block;
}
.logo_full {
    display: none;
}
.logo_name {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2rem;
    color: #F25757;
    margin-left: 1rem;
    position: absolute;
    left: 0;
    top: 0;
}
.logo_name:nth-child(2) {
    color: #FF9000;
    z-index: -1;
    left: -3px;
    top: 3px;
}
.logo_name:nth-child(3) {
    color: #FCE762;
    z-index: -2;
    left: -6px;
    top: 6px;
}
#navBar {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
#searchBar {
    display: none;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}
#filterMenu {
    display: none;
}
.filters {
    width: 90%;
    margin: 65px auto -5px;
    display: flex;
    justify-content: space-around;
}
.filters a {
    text-align: center;
    width: 25%;
    cursor: pointer;
    padding: 10px;
    margin: 1px 5px;
    background-color: #FCE762;
    border: none;
    border-bottom: 2px solid #FF9000;
    color: black;
    outline: none;
    transition: .2s ease all;
    border-radius: 3px;
}
.filters a:hover {
    background-color: #fcc162;
    border-bottom: 2px solid #ff5000;
}
.filters a:active, .active {
    background-color: #F25757 !important;
    border-bottom: 2px solid darkred !important;
}
#clearFilters {
    display: block;
    width: 88%;
    margin: 5px auto 0;
}

/* Landing Page Styles */
#hero {
    background-image: url(/images/lunch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
}
#hero div {
    background-color: #1B2F33;
    background-color: rgba(0,0,0,.6);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 10px;
    height: 150px;
    width: 100%;

}
#hero h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 3.5em;
    color: white;
    text-align: center;
    text-shadow: -2px 2px 2px gray;
}
#hero form, #searchBar form {
    display: flex;
    justify-content: flex-start;
    box-shadow: -1px 1px 5px gray;
}
#hero form input, #searchBar input {
    font-size: 1em;
    border: none;
    outline: none;
    padding: 5px;
    border-bottom: 2px solid darkgray;
}
#hero form button, #searchBar button {
    outline: none;
    border: none;
    background-color: #F25757;
    color: white;
    font-size: 1.3em;
    padding: 5px 10px;
    cursor: pointer;
    transition: .2s ease all;
    text-shadow: -2px 2px 2px gray;
    border-bottom: 2px solid darkred;
}
#hero form button:hover, #searchBar button:hover {
    background-color: #c14545;
}

/* About Styles */
#about div {
    max-width: 90%;
    margin: 30px auto;
    text-align: justify;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
#about div > * {
    margin: 10px;
}
#about img {
    display: none;
}

/* foodListings-Results Styles */
#foodListings {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
}
#foodListings h3 {
    width: 90%;
    margin: 0 auto;
    font-size: 2em;
    margin: 20px auto 0;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}
.restaurant {
    width: 90%;
    margin: 25px auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    border: 1px solid lightgray;
    box-shadow: -1px 1px 5px lightgray;
}
.restImg {
    width: 95%;
    height: 250px;
    overflow: hidden;
    margin: 10px auto 5px;
}
.restImg img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
.restInfo {
    width: 95%;
    padding: 5px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.restInfoCol {
    position: relative;
    width: 100%;
}
.restInfoCol:last-child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.restName {
    font-weight: bold;
    font-size: 1.1em;
    margin: 5px 0;
}   
.restAddress {
    margin: 0;
}
.restBtn, .recBtn {
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 5px 10px;
    cursor: pointer;
    transition: .2s ease all;
    display: block;
    width: 100px;
}
.recBtn {
    background-color: #FCE762;
    color: black;
    border-bottom: 2px solid #fcc162;
    position: absolute;
    /* right: 80px; */
    right: 0;
    top: 38px;
}
.restBtn {
    background-color: #F25757;
    color: white;
    border-bottom: 2px solid darkred;
    position: absolute;
    right: 0;
    top: 0;
}
.recBtn:hover {
    background-color: #fcc162;
    border-bottom: 2px solid #ff9b5f;
}
.restBtn:hover {
    background-color: #c14545;
}
/* .restBtn:active, .recBtn:active {
    border: none;
    top: 2px;
} */
.recBtn:active {
    border: none;
    top: 40px;
}
.restBtn:active {
    border: none;
    top: 2px;
}
.restRating {
    display: inline;
}
.restRatingStars {
    width: 20px;
}
#foodListings .restRatingStars {
    margin-top: 90px;
}

/* foodShow-Individual Page Styles */
#foodShow .restImg {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 5px 0;
}
#foodShow .restImg img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
#foodShow .restInfo {
    font-size: 1.1em;
}
#foodShow h3 {
    font-size: 2.9em;
}
.foodImgCol {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.foodImg {
    width: 30%;
    max-height: 300px;
    overflow: hidden;
    margin: 5px;
}
.foodImg img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
.restReviews {
    width: 95%;
    padding: 5px;
    margin: 0 auto;
}
.restReviews h4 {
    font-size: 1.2em;
    border-bottom: 1px dashed lightgray;
}
.reviewInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
}
.reviewInfo > * {
    display: inline-block;
}
.reviewInfo span:first-child {
    margin-right: 10px;
    font-weight: bold;
}
.userImg {
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 50%;
}
.userImg img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B2F33;
    color: white;
    width: 100%;
    height: 150px;
    margin: 50px 0 0;
}
footer p {
    margin: 1%;
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 500px) {
    #hero div {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 300px;
    }
    #hero form input, #searchBar input {
        font-size: 1.3em;
    }
}
@media screen and (min-width: 700px) {
    /* Hero & NavBar Styles */
    .logo_mobile {
        display: none;
    }
    .logo_full {
        display: block;
    }
    #searchBar {
        width: 60%;
    }
    #searchBar input {
        width: 100%;
    }
    /* About Styles */
    #about div {
        max-width: 80%;
        margin: 50px auto;
    }
    #about img {
        display: block;
    }
}
@media screen and (min-width: 900px) {
    /* foodListings-Results Styles */
    #foodListings h3 {
        width: 95%;
        text-align: center;
    }
    .restaurant {
        width: 45%;
    }
    /* foodShow - Individual Page Styles */
    #foodShow section {
        max-width: 75%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1400px) {
    #about div {
        max-width: 60%;
    }
    /* foodListings-Results Styles */
    #foodListings {
        max-width: 75%;
        margin: 0 auto;
    }
    #foodListings h3 {
        margin-top: 20px;
        width: 97%;
    }
    .restaurant {
        width: 30%;
    }
}